# -------------------------
# Python Bytecode
# -------------------------
__pycache__/
*.py[cod]
*$py.class

# -------------------------
# Virtual Environments
# -------------------------
venv/
env/
venv310/
.venv/

# -------------------------
# IDE / Editor
# -------------------------
.vscode/
.idea/

# -------------------------
# System files
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Python packages / build
# -------------------------
*.egg-info/
dist/
build/
*.egg

# -------------------------
# Jupyter / IPython
# -------------------------
.ipynb_checkpoints

# -------------------------
# Large binaries
# -------------------------
*.dll
*.pyd
*.so

# -------------------------
# Optional: logs, temp
# -------------------------
*.log
*.tmp